# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
*.env

# Virtual envs
venv/
.env/
.venv/

# Editor stuff
.vscode/
.idea/

# OS files
.DS_Store

# Cloudflare / tunnels / secrets
tunnel.json
*.crt
*.key
